/site/diagrams/k8s_overview.svg
/site/kubernetes-install/index.html
/site/cni-calico/index.html
/site/diagrams/cni-calico.svg
/site/worker-join/index.html
/site/validation/index.html
/site/kubernetes-reset/index.html
